<h2>Showing Transactions for <%= link_to @user.name, user_path(@user) %></h2>
<br/>
<%= link_to 'Add Transaction', new_user_transaction_path(@user) %>
<h3>Transaction List</h3>
<table>
  <tr>
    <th>Amount</th>
    <th>Expiry</th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.amount %></td>
      <td><%= transaction.loyalty_point&.points || 'Lifetime' %></td>
  </tr>
  <% end %>
</table>
